.features-tiles-item-image {
    display: inline-flex;
    border-radius: 50%;
    background-color: get-color(primary, 3);
}
.features-tiles {
    .tiles-item {
        flex-basis: 400px;
        max-width: 400px;
        padding: 50px;

        &.tile1,
        &.tile3,
        &.tile4,
        &.tile5,
        &.tile6 {
            .features-tiles-item-content {
                ul {
                    text-align: left;
                }
            }
        }

        &.tile3 {
            .features-tiles-item-content {
                ul {
                    padding-left: 60px;
                }
            }
        }
    }

    .features-tiles-inner {
        .features-tiles-item-content {
            h4 {
                margin-bottom: 20px;
            }

            .birthday-title {
                position: absolute;
                top: -12px;
                font-family: verdana;
                font-size: 32px;
                font-weight: 700;
                transform: rotate(-6deg);
                color: #1900ff;
                z-index: 2;
                text-shadow: 1px 1px 1px #1eb4fa, 1px 2px 1px #1eb4fa,
                    1px 3px 1px #1eb4fa, 1px 4px 1px #1eb4fa,
                    1px 5px 1px #1eb4fa, 1px 6px 1px #1eb4fa,
                    1px 7px 1px #1eb4fa, 1px 8px 1px #1eb4fa,
                    1px 9px 1px #1eb4fa, 1px 10px 1px #1eb4fa,
                    1px 18px 6px rgba(12, 12, 12, 0.4),
                    1px 22px 10px rgba(12, 12, 12, 0.2),
                    1px 25px 35px rgba(12, 12, 12, 0.2),
                    1px 30px 60px rgba(12, 12, 12, 0.4);
            }

            .slide {
                width: 100%;
                height: 100%;
            }

            ul {
                ul {
                    list-style: circle;
                }
            }
        }
    }
}
