.paddingRight50 {
    padding-right: 50px;
}
.paddingLeft50 {
    padding-left: 50px;
}
.split-item {
    p.m-0 {
        text-align: justify;
    }
}
.section-header {
    p.m-0 {
        text-align: justify;
    }
}
