
.split-item {
    p.m-0 {
        text-align: justify;
    }
    
    img {
        border-style: solid;
        border-color: #6163FF;
        border-radius: 10%;
        border-width: 5px;
        
    }
    
}
.section-header {
    p.m-0 {
        text-align: justify;
    }
}

